.container {
    max-width: $container + $gap * 2;
    padding: 0 $gap;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.section {
    padding: 100px 0;
}

//  =========== MAIN STYLES ============== //

// ============ HEADER ============ //

// ============ PROMO ============ //

// ============ ABOUT ============ //

// ============ BENEFITS ============ //

// ============ REVIEWS ============ //

// ============ PORTFOLIO ============ //

// ============ TEAM ============ //

// ============ CONTACTS ============ //

// ============ FOOTER ============ //
